/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    footer {
        height: 100%;
    }

    #myTopnav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .topnav a:first-child {
        display: block;
    }

    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .no-display {
        display: none;
    }

    .split {
        width: 100vw;
        height: 50%;
        position: relative;
    }

    .left1 {
        padding-top: 0;
    }

    .centered {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: none;
    }

    .centered img {
        width: 80%;
        height: 100%;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {

    .responsive {
        animation-name: fadeIn;
        animation-duration: .7s;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .logo img {
        width: 100px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}