:root {
    --bg-futbol: #667C4D;
    --bg-padel: #5FACE0;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

header {
    padding-top: 20px;
    width: 100%;
    /* height: calc(100vh - 60px); */
    height: 100vh;
    background-image: url('../images/bg1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header>.container {
    width: 80%;
    height: 120px;
    margin: 20px auto 0px auto;
    padding: 25px 0px 0px 0px;
    /* border: 1px solid gray; */
    border-radius: 10px;
}

.social-icons {
    display: flex;
    margin: 40px 0;
}

.social-icons a {
    text-decoration: none;
}

.right {
    float: right;
}

.social-icons img {
    border: 2px solid gray;
    border-radius: 50%;
    padding: 10px;
    margin: 2px;
}

.facebook {
    background-color: #4a90e2;
}

.instagram {
    background-color: #bd10e0;
}

.whatsapp {
    background-color: #65b713;
}

.social-icons img:hover {
    filter: brightness(1.125);
}

.logo {
    float: left;
}

img[alt="Logo"] {
    padding: 3px;
    border: 2px solid gray;
    border-radius: 50%;
    width: 125px;
}

/* Navbar */
/* Add a black background color to the top navigation */
.topnav {
    width: 80vw;
    margin: 45px auto;
    border-radius: 5px;
    background-color: #333;
    overflow: hidden;
    font-variant: small-caps;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    /* background-color: #ddd; */
    color: white;
    text-shadow: 0 0 20px white;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* MAIN */
/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 100vh;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left1 {
    left: 0;
    background-color: var(--bg-futbol);
}

/* Control the right side */
.right1 {
    right: 0;
    background-color: var(--bg-padel);
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-5%, -50%);
    text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
    width: 100%;
    border-radius: 10px;
}

/* Scroll to top button */
#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 20px;
    /* Place the button 20px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: darkgreen;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    /* background-color: #555; */
    /* Add a dark-grey background on hover */
    filter: brightness(1.5);
}