@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-futbol: #667C4D;
    --bg-padel: #5FACE0;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    max-width: 100vw;
}

header {
    padding-top: 20px;
    width: 100%;
    /* height: calc(100vh - 60px); */
    height: 100vh;
    background-image: url('../images/bg1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header>.container {
    width: 80%;
    height: 120px;
    margin: 20px auto 0px auto;
    padding: 25px 0px 0px 0px;
    /* border: 1px solid gray; */
    border-radius: 10px;
}

.social-icons {
    display: flex;
    margin: 40px 0;
}

.social-icons a {
    text-decoration: none;
}

.right {
    float: right;
}

.social-icons img {
    border: 2px solid gray;
    border-radius: 50%;
    padding: 10px;
    margin: 2px;
}

.facebook {
    background-color: #4a90e2;
}

.instagram {
    background-color: #bd10e0;
}

.whatsapp {
    background-color: #65b713;
}

.social-icons img:hover {
    filter: brightness(1.125);
}

.logo {
    float: left;
}

img[alt="Logo"] {
    padding: 3px;
    border: 2px solid gray;
    border-radius: 50%;
    width: 125px;
}

/* Navbar */
/* Add a black background color to the top navigation */
.topnav {
    width: 80vw;
    margin: 45px auto;
    border-radius: 5px;
    background-color: #333;
    overflow: hidden;
    font-variant: small-caps;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    /* background-color: #ddd; */
    color: white;
    text-shadow: 0 0 20px white;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* MAIN */
#contacto {
    position: relative;
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 100vh;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left1 {
    left: 0;
    top: 0;
    /* background-color: var(--bg-futbol); */
    background-image: url('../images/tapiz-futbol.png');
    background-size: 25px;
    background-repeat: repeat;
}

/* Control the right side */
.right1 {
    right: 0;
    top: 0;
    /* background-color: var(--bg-padel); */
    background-image: url('../images/tapiz-padel.png');
    background-size: 25px;
    background-repeat: repeat;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
    width: 100%;
    border-radius: 10px;
}

/* FOOTER */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    max-width: 100vw;
    background-color: #333;
    color: white;
}

footer#footer {
    min-height: auto;
    background: #111;
    float: left;
    width: 100%;
    padding: 0;
    border-top: solid #ddd 1px;
    position: relative;
    background-position: center top;
    background-size: cover;
}

footer .social-icons {
    list-style: none;
    float: left;
    width: auto;
    padding: 0;
    margin: 0;
}

.footer-widget h3 {
    color: #fff;
    text-transform: none;
    font-weight: 500;
    font-size: 18px;
    float: left;
    width: 100%;
    padding-left: 0;
    padding-bottom: 0;
    line-height: 20px;
    margin-bottom: 10px;
    border-bottom: solid #333 1px;
    padding-bottom: 15px;
    padding-top: 7px;
}

.footer-widget p {
    font-size: 14px;
    color: #fff;
    margin: 20px 0 10px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 15px;
}

.footer-menu {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 32px;
    list-style: none;
}

.footer-menu li {
    font-weight: 300;
    font-size: 14px;
}

.footer-menu a,
.footer-widget a {
    color: #fff;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

footer a:hover {
    color: var(--bg-padel);
}

.address-list {
    float: left;
    width: 100%;
    margin-top: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.address-list li {
    float: left;
    width: 100%;
    position: relative;
    line-height: 30px;
    padding-left: 0;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 14px;
}

.full {
    position: relative;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.contact-footer {
    float: left;
    width: 100%;
    position: relative;
    height: 100%;
    background: orange;
    top: 0;
    left: 0;
    min-height: 350px;
}

.contact-footer iframe {
    float: left;
    width: 100%;
}

.footer-bottom {
    float: left;
    width: 100%;
    text-align: center;
    min-height: 45px;
    line-height: 45px;
    border-top: solid #222 1px;
    background: #111;
    color: #fff;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #fff;
    line-height: 50px;
    font-weight: 300;
}

.footer-widget {
    float: left;
    width: 100%;
    padding: 50px 0 10px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    -webkit-animation-name: fadeIn;
    /* Fade in the background */
    -webkit-animation-duration: 1s;
    animation-name: fadeIn;
    animation-duration: 1s
}

/* Modal Content/Box */
.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    /* Could be more or less, depending on screen size */
    -webkit-animation-name: slideIn;
    /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #aaa;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}


/* Scroll to top button */
#myBtn1 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 20px;
    /* Place the button 20px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: darkgreen;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn1:hover {
    /* background-color: #555; */
    /* Add a dark-grey background on hover */
    filter: brightness(1.5);
}