header {
    width: 85%;
    margin: 20px auto;
    background-image: url('images/bg1.png');
}

.social-icons {
    display: inline;
}

.right {
    float: right;
}

.social-icons img {
    border: 1px solid #999;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
}

.social-icons img:hover {
    background-color: rgba(0,0,0,.1);
}

img[alt="Logo"] {
    float: left;
    border: 1px solid black;
    border-radius: 50%;
    width: 100px;
}